<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<body style="background-color:rgb(146, 0, 0)">
<!--CONTENTS OF THE MUSHROOM SELECTION MENU AKA mushroomMenu-->
<div id="mushroomMenu" class="mushroomMenu">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/mushroomDisplay">Mushroom 1</a>
  <br>
  <a href="mushroomDisplay">Musrhoom 2</a>
  <br>
  <a href="mushroomDisplay">Mushroom 3</a>
  <br>
  <a href="mushroomDisplay">Mushroom 4</a>
  <br>
  <a href="mushroomDisplay">Mushroom 5</a>
  <br>
  <a href="mushroomDisplay">Mushroom 6</a>
  <br>
  <a href="mushroomDisplay">Mushroom 7</a>
  <br>
  <a href="mushroomDisplay">Mushroom 8</a>
  <br>
  <a href="mushroomDisplay">Mushroom 9</a>
  <br>
  <a href="mushroomDisplay">Mushroom 10</a>
</div>
<!--END OF MUSHROOM SELECTION MENU AKA mushroomMenu-->

<header>
  <h2>
    <section>
      <div id="alignLeft"> 
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Search</span> 
      </div>

      <div id="alignCenter">
        Welcome to ShroomBase!
        <img src="images/logo.png" width="80" height="50">
      </div>

      <div id="alignRight">
        <div class="dropdown">
          <span style="font-size:30px;cursor:pointer"><%= currentUser.username %> </span>
          <div class="dropdown-content">
            <p><a href="#">Account</a></p>
            <p><a href="#">Settings</a></p>
            <p><a href="/logout">Logout</a></p>
          </div>
        </div>
      </div>
    </section>
  </h2>
</header>

<section>
  <article>
    <br><br><br><br>
    <h1>Welcome to ShroomBase's Main Page!</h1>
    <p>Click of the icon next to the "Search" to see a list of Mushrooms</p>
    <p>Click on the gear next to User_Name_Here to see options related to your account</p>
    <p>We Hope You Find out Website Usefull!</p>
    <img src="images/logo.png" width="400" height="300">
    <br><br><br><br>
  </article>

</section>

<footer>
  <p></p>
</footer>


<script>
function openNav() {
  document.getElementById("mushroomMenu").style.width = "250px";
}

function closeNav() {
  document.getElementById("mushroomMenu").style.width = "0";
}
</script>

</body>
</html> 

